.product-card {
    border: none;
    border-radius: 8px;
}

.price {
    font-size: 1.5rem;
    color: #d9534f; /* Màu đỏ cho giá */
}

.original-price {
    text-decoration: line-through;
    color: #666; /* Màu xám cho giá gốc */
    margin-right: 10px;
}

.discounted-price {
    font-weight: bold;
    font-size: 1.8rem;
    color: #d9534f; /* Màu đỏ cho giá khuyến mãi */
}