<!-- templates/admin/order_stats.html -->

{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
  <h1>Thống Kê Đơn Hàng Năm {{ year }}</h1>
  <table>
    <thead>
      <tr>
        <th>Tháng</th>
        <th>Tổng Đơn Hàng</th>
        <th>Tổng Doanh Thu</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in stats %}
        <tr>
          <td>{{ stat.month }}</td>
          <td>{{ stat.total_orders }}</td>
          <td>{{ stat.total_revenue }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}